@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Hubballi';
  src: url('../public/fonts/Hubballi/Hubballi-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Maven Pro';
  src: url('../public/fonts/Maven/static/MavenPro-Regular.ttf');
  font-weight: 400;
}

.custom-header {
  font-family: 'Poppins';
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 100%;
}
.inner-header {
  max-width: 998px;
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: .2rem .15rem;
  justify-content: space-around;
}
.site-text {
  font-weight: 600;
}
.mobile-menu {
  display: none;
}
.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  color: #000;
}
.logoContainer:focus {
  text-decoration: none;
  color: initial;
}
.logo-text {
  font-weight: 600;
}
.link-container .link {
  margin: .2rem 1-rem;
  text-decoration: none;
  color: #000;
}
.section {
  padding: .75rem 0;
  min-height: 80vh;
}
.section:nth-child(2n+1) {
  background-color: #f5f5f7;
}
.image-section {
  padding: 0;
}
.image-container {
  position: relative;
}
.image-main {
  width: 100%;
  object-fit: cover;
  max-height: 90vh;
}
.image-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-height: 90vh;
}
.main-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 80vh;
}
.text-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  height: 100%;
  margin: auto;
  width: 75%;
  text-align: left;
}
.main-text.primary-text {
  font-size: 3rem;
}
.main-text.secondary-text {
  font-size: 1.5rem;
}
.main-text {
  margin: 0;
  font-weight: 700;
}
.main-subtext {
  font-weight: 400;
  font-size: 1.25rem;
}
.action-button {
  outline: none;
  border: solid 2px #e92174;
  border-radius: 25px;
  background-color: #e92174;
  color: #fff;
  font-weight: 600;
  padding: .75rem 2rem;
  width: fit-content;
  font-size: 16px;
}
.action-button:hover {
  cursor: pointer;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  max-width: 1400px;
  margin: auto;
}
.service-article {
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  border-radius: 0.5px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}
.service-article:hover {
  box-shadow: 2px 4px 16px #00000029;
  transform: scale3d(1.01,1.01,1.01);
}
.service-article .paragraph {
  color: var(--secondary-text);
}
.service-image {
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  height: 12rem;
}
.section-title {
  text-align: center;
}
.section-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.footer {
  background-color: #111827;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 75px;
}
.social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: .5rem;
  padding: .5rem 0;
}
.socials-section {
  color: #fff;
  background-color: rgb(17 24 39);
  padding: 1rem 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15%;
}
.socials-section article {
  margin-left: 1rem;
  width: 250px;
}
.article-title {
  margin-bottom: 1rem;
  font-size: 1.25rempx;
  font-weight: 600;
}
.article-text {
  margin-bottom: 0.5rem;
  line-height: 24px;
}
.socials-section .social-link {
  fill: #fff
}
.social-link {
  outline: none;
  text-decoration: none;
}
.social-link svg {
  width: 25px;
  height: 25px;
}
.social-link:hover svg {
  fill: var(--main-color);
}
.send_button {
  all: unset;
  text-align: center;
  transition: transform .2s ease;
}
.send_button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.contact-article {
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .image-main,
  .image-overlay {
    max-height: 500px;
  }
  .main-text-container {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .text-container {
    gap: .5rem;
  }
  .main-text.primary-text {
    font-size: 2.75rem;
  }
  .main-text.secondary-text {
    font-size: 1.25rem;
  }
  .main-subtext {
    font-size: 1.25rem;
  }
  .service-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  } 
}

@media (max-width: 480px) {
  .service-grid {
  grid-template-columns: 1fr; 
  } 
}