.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 5px 20px var(--text-shadow);
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-logo {
  width: 75px;
}
.menu-btn {
  display: none;

}

.menu-btn > div {
  pointer-events: none;
  background-color: #000;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: transform .5s, opacity .5s;
  transform-origin: left;
}
.menu-btn:hover div:first-child {
  transform: rotate(45deg);
}
.menu-btn:hover div:nth-child(2) {
  opacity: 0;
}
.menu-btn:hover div:last-child {
  transform: rotate(-45deg);
}
.link-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.navbar-link {
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
}
.filter-bg {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}
#home {
  min-height: 100vh;
  background-color: rgba(var(--bg-color-rgb), 0.2);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/mt-1205-home-bg1.jpg');
}
#servizi {
  background-image: linear-gradient(rgba(var(--bg-color), 0.8), rgba(var(--bg-color)), 0.8), url('../public/studio.jpg');
  color: var(--main-color);
}
#salone, #gallery, #map, #servizi, #contatti {
  min-height: 100vh;
  background-color: var(--bg-color);
}
#salone .text-article {
  color: var(--main-color);
}
.bg-styled {
  background-color: linear-gradient(rgba(234, 202, 191, 0.5), rgba(234, 202, 191, 0.5));
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  background-repeat: no-repeat;
}

.site-title {
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20%;
  color: var(--main-color);
  text-shadow: 1px 1px 5px var(--text-shadow);
}
.site-principal {
  position: relative;
}
.site-image {
  object-fit: contain;
}
.mask-site-image {
  mask: url('../public/logo.png') no-repeat;
  mask-size: contain;
  /* background-image: url('../public/logo.png'); */
  background-color: var(--main-color);
  width: 400px;
  height: 400px;
}
.site-name {
  position: absolute;
  top: 75%;
  left: 0%;
  max-width: 220px;
}
.site-name * {
  margin: 0;
}
.site-name h1 {
  font-size: 18px;
}
.site-name h2 {
  font-size: 16px;
}
.main-text {
  margin: 0;
  font-weight: 600;
}
.main-subtext {
  font-weight: 600;
  font-size: 16px;
  font-family: var(--secondary-font);
}
.styled-txt {
  /* font-family: var(--secondary-font); */
  color: var(--main-color);
  font-size: 21px;
  font-weight: 400;
}
.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: .5rem;
  max-width: 1200px;
}
.service-type {
  text-align: center;
  width: 30%;
  color: var(--font-color);
  /* background-color: #fff; */
  padding: 1rem 0.5rem;
  border-radius: 20%;
  transition: transform .25s ease;
  font-family: var(--secondary-font);
  box-shadow: 1px 5px 6px rgba(0,0,0,0.4);
}

.service-type:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.service-name {
  font-weight: 600;
  font-size: 21px;
  color: var(--accent-color);
}

.container#salone {
  flex-flow: row nowrap;
}
.text-article {
  position: relative;
  text-align: center;
  color: var(--main-text);
  font-family: var(--secondary-font);
  max-width: 600px;
  font-weight: 600;
}
.text-article > h2 {
  font-size: 32px;
  color: var(--main-color);
}
.site-img {
  max-width: 400px;
  border-radius: 1rem;
}
.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 1250px;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  max-height: 600px;
}
.carousel-container.double .carousel-track {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 1rem;
}
.carousel-container img {
  object-fit: contain;
  min-width: 100%;
  height: auto;
  border-radius: .5rem;
}
.carousel-container.double img {
  object-fit: cover;
  border-radius: 5px;
  min-width: min-content;
  height: 16rem;

}
/* Buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}
.contact-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.contact-form * {
  max-width: calc(100% - 40px);
  padding: 10px 5px;
  border: none;
  background: #eeeef0;
  padding: 16px 20px;
  color: #acafba;
  font-size: 13px;
  width: 100%;
}

.contact-information {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--address-font);
}
.site-information {
  color: var(--main-color);
  text-align: start;
  font-family: var(--address-font);
}
.site-information a {
  /* text-decoration: none; */
  color: #3025B9;
}
.strong-txt {
  font-weight: 600;
}
.footer {
  padding-top: .5rem;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

@media (max-width: 480px) {
  .navbar {
    justify-content: space-between;
    padding: 0 .5rem;
  }
  .menu-btn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 0;
    background-color: transparent;
    gap: .65rem;
  }
  .link-container {
    height: 0;
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 100%;
    right: 0%;
    z-index: 9;
    transition: all .5s;
    overflow: hidden;
    padding: 0 .5rem;
    border-radius: 0 0 5px 5px;
  }
  .link-container.active {
    height: 170px
  }
}