@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Hubballi';
  src: url('../public/fonts/Hubballi/Hubballi-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Maven Pro';
  src: url('../public/fonts/Maven/static/MavenPro-Regular.ttf');
  font-weight: 400;
}
:root {
  --main-color: #BE1622;
  --main-bg: rgba(234, 202, 191, 1);
  --secondary-bg: #F4E1E2;
  --third-bg: #f9fafb;
  --main-text: #2B2B2B;
  --secondary-text: #f59c9c;
  --border-color: #f0f1f4;
  --main-font: 'Poppins';
  --secondary-font: 'Hubballi';
  --address-font: 'Maven Pro';
}
:root.red {
  --main-color:#BE1622;
  --accent-color: #EACABF;
  --bg-color: #F8F1EF;
  --bg-color-rgb: 248, 241, 239;
  --secondary-accent: #A6A6A6;
  --font-color: #3A3A3A;
  --text-shadow: rgba(0,0,0,0.2);
}
:root.gold {
  --main-color:#c38d46;
  --accent-color: #FFF;
  --bg-color: #F1E7D5;
  --bg-color-rgb: 241, 231, 213;
  --secondary-accent: #456B6F;
  --font-color: #3E2C1E;
  --text-shadow: rgba(255,255,255,0.2);
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-family: 'Poppins';
  background-color: var(--third-bg);
  color: var(--main-color);
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
.main {
  background: linear-gradient(180deg, #f0f0f2 0%, #f5f5f7 100%);

}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 600px;
  gap: 1rem;
  box-sizing: border-box;
  margin-top: auto;
}
.inner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 24px;
  padding: 2rem 0;
}
.main-container {
  min-height: 100vh;
  position: relative;
}
.main-logo {
  width: 300px;
  height: 300px;
  margin: auto;
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-1deg) scale(1.02);
  }
  50% {
    transform: rotate(1deg) scale(1.01);
  }
  75% {
    transform: rotate(-1deg) scale(1.01);
  }
}

.card-logo {
  display: flex;
  flex-flow: column;
}
.card-subtitle {
  font-weight: 600;
}
.card {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  transition: transform .3s ease-in-out;
  color: var(--main-text);
  text-decoration: none;
}
.card:hover {
  transform: scale(1.1);
  color: #be1622;
}
.card:hover .card-image {
  border-radius: 0;
}
.card-image {
  width: 350px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  transition: border-radius 1s ease;
}
.card-information {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.2rem;
}
.card-title {
  position: relative;
  font-family: var(--main-font);
  font-weight: 400;
}
.card-title::after {
  content: "-";
  position: absolute;
  top: 00%;
  left: 100%;
  margin-left: 5px;
}
.card-address {
  font-family: var(--address-font);
  font-weight: 400;
}
.color-picker {
  all: unset;
  position: sticky;
  top: 90vh;
  z-index: 100;
  border-radius: 15%;
  background-color: #3b3b3b;
  display: flex;
  width: fit-content;
  left: 2%;
  gap: 5px;
  padding: .25rem .5rem;
  /* height: 55px; */
  /* width: 120px; */
}
.color-picker button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.color-picker button:hover {
  cursor: pointer;
}
.color-picker .red {
  background-color: #BE1622;
}
.color-picker .gold {
  background-color: #C68F45;
}
.color-picker button.active {
  border: solid 2.5px #fff;
}
@media (max-width: 480px) {
  .container {
    justify-content: flex-start;
    background-color: #e3bdb0;
    padding: .5rem 0 1rem 0; 
  }
  .main-logo {
    order: -1;
  }
}